
<div id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <button class="nav-link" (click)="onOpenModal(null, 'add')">Add Footballer <span class="sr-only">(current)</span></button>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchFootballer(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
  </form>
</div>




<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let footballer of footballers" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{footballer?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{footballer?.name}}</h5>
            <p class="m-0"> Club: {{footballer?.club}}</p>
            <p class="m-0">Gender: {{footballer?.gender}}</p>
            <p class="m-0">Award: {{footballer?.awards}}</p>
            <p class="m-0">Height: {{footballer?.height}}</p>

          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email: {{footballer?.email}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{footballer?.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(footballer, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(footballer, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Footballer Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Add Footballer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddFootballer(addForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="phone">Club</label>
              <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Club" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
            </div>
            <div class="form-group">
              <label for="phone">Gender</label>
              <input type="text" ngModel name="imageUrl" class="form-control" id="gender" placeholder="Gender" required>
            </div>

<!--            -->

            <div class="form-group">
              <label for="phone">Image URL</label>
              <input type="file" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
            </div>
            <div class="form-group">
              <label for="phone">Height</label>
              <input type="text" ngModel name="imageUrl" class="form-control" id="height" placeholder="Height" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Footballer {{editFootballer?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel="{{editFootballer?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
            </div>
            <input type="hidden" ngModel="{{editFootballer?.gender}}" name="gender" class="form-control" id="id" placeholder="Gender">
            <input type="hidden" ngModel="{{editFootballer?.height}}" name="height" class="form-control" id="userCode" placeholder="Height">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" ngModel="{{editFootballer?.email}}" name="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="phone">Awards</label>
              <input type="text" ngModel="{{editFootballer?.awards}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Awards">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" ngModel="{{editFootballer?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
            </div>
            <div class="form-group">
              <label for="phone">Image URL</label>
              <input type="file" ngModel="{{editFootballer?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateFootballer(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Footballer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete Footballer {{deleteFootballer?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteFootballer(deleteFootballer?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no Footballer-->
<div *ngIf="footballers?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO FOOTBALLERS!</h4>
    <p>No FOOTBALLERS were found.</p>
  </div>
</div>
